// Place all the styles related to the word_roots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table {
    border: 1px solid black;
    width: 100%;
    th, td {
        border: 1px solid black;
        text-align: -webkit-center;
        padding: 8px;
    } 
    tr:nth-child(even) {background-color: #f2f2f2;}
    tr:hover {background-color: #a14d4d;}
    a {
        color: black !important;
        text-decoration: none !important;
    }
}

.wordRootList {
    li{
        text-align: left;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .divTable{
        margin-left: -50px;
        margin-right: -15px;
    }
}